server {
    listen {{ hostname }}.{{ domain }}:80;

    server_name {{ hostname }}.{{ domain }};
    return 301 https://$host$request_uri;
}
server {
    listen {{ hostname }}.{{ domain }}:443 ssl;
    server_name {{ hostname }}.{{ domain }};
    ssl_certificate /etc/ssl/certs/{{ hostname }}.{{ domain }}.crt;
    ssl_certificate_key /etc/ssl/private/{{ hostname }}.{{ domain }}.key;
    location / {
        proxy_pass http://172.18.0.2:8081;
        include proxy_params;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}